@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

/* globals.css */

body {
  @apply bg-gradient-to-b from-indigo-950 to-black shadow;
  margin: 0;
  padding: 0;
}
